.staff-related {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.staff-lists {
  text-align: center;
}
.staff-heading {
  display: flex;
  justify-content: space-between;
}
.staff-registration {
  text-align: center;
}
.staff-list {
  padding-left:0;
}
.staff-row {
  list-style:none;
  display: inline;
}
.staff-info {
  display: flex;
  justify-content: space-between;
}
.staff-registration-form {
  display: flex;
  justify-content: space-between;
}
.name-form {
  height: 20px;
}
h2 {
  font-size: 36px;
}
h4 {
  font-size: 26px;
}
textarea {
  resize: none;
  padding: 3px;
}