.staff-related {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
.staff-lists {
  text-align: center;
}
.staff-heading {
  display: flex;
  justify-content: space-between;
}
.staff-registration {
  text-align: center;
}
.staff-list {
  padding-left:0;
}
.staff-row {
  list-style:none;
  display: inline;
}
.staff-info {
  display: flex;
  justify-content: space-between;
}
