.shiftpattern-related {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
/* スタッフ一覧 */
.shiftpattern-lists {
  text-align: center;
}
.shiftpattern-heading {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.shiftpattern-registration {
  text-align: center;
}
.shiftpattern-list {
  padding-left:0;
}
.shiftpattern-row {
  list-style:none;
  display: inline;
}
.shiftpattern-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.shiftpattern-name {
  width: 78px;
}
.shiftpattern-starttime .shiftpattern-endtime {
  width: 52px;
}
.shiftpattern-total {
  width: 104px;
}

/* スタッフ登録 */
.form-fields-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.form-title {
  margin-bottom: 3px;
}
h2 {
  font-size: 36px;
}
.shiftpattern-form-name {
  margin-right: 10px;
}
.shiftpattern-form-starttime {
  margin-right: 10px;
}
h4 {
  font-size: 26px;
}
.name-form {
  height: 24.5px;
}
textarea, select {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
textarea {
  height: 24px;
  resize: none;
  padding: 3px;
}
select{
  height: 24px;
}