.shiftpattern-1 {
  background-color: #cd5c5c;
}
.shiftpattern-2 {
  background-color: #ccffff;
}
.shiftpattern-3 {
  background-color: #c4d79b;
}
.shiftpattern-4 {
  background-color: #ccffff;
}
.shiftpattern-5 {
  background-color: #ccffff;
}
.shiftpattern-6 {
  background-color: #ccffff;
}
.shiftpattern-7 {
  background-color: #ccffff;
}
.shiftpattern-8 {
  background-color: #ccffff;
}
.shiftpattern-9 {
  background-color: #ccffff;
}
.shiftpattern-10 {
  background-color: #ccffff;
}
.shiftpattern-11 {
  background-color: #ccffff;
}

.no-shift {
  background-color: #cd5c5c
}