<%# CSS・・・assets/stylesheets/header.css %>
<header class = "header">
  <div class = "appname">
    <h1><a href="/">ShiftMaker</a></h1>
  </div>
  <div>
  <div class = "nav">
    <ul class = "lists-left">
      <li><%= link_to "スタッフ関連", new_staff_path %></li>
      <li><%= link_to "シフト作成・編集", new_schedule_path %></li>
    </ul>
    <ul class = "lists-right">
      <li><%= current_user.nickname %></li> 
      <li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete} %></li>
    </ul>
  </div>
</header>